body{
    margin: 0;
    background-color: white;
    /* font-size: 15px;     */
}

.contenedor-encabezado{
    background-color: black;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 48px;
}

.foto-perfil{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
}

.contenedor-global-contenido{
    margin-top: 24px;
    margin-left: 300px;
    margin-right: 300px;
}

.contenedor-estudios{
    margin-bottom: 24px;   
    border-bottom: 1px solid black;
}

.titulo{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.foto-icono{
    width: 40px;
    border: 1px solid black;
    border-radius: 30%;
    padding: 10px;
}

.h2-icono{
    margin:20px;
}

ul{
    padding-left: 400px;
    font-size: 24px;
}

li{
    list-style: none;
}

.contenedor-habilidad{
    width: 100%;
    display: flex;
    border-bottom: 1px solid black;
    margin-bottom: 24px;
}

.hago,.puedo{
    width: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.puedo{
    border-left: 1px solid black;
    padding-left: 5px;
}

.contenedor-experiencia{
    margin-bottom: 30px;
}

.acordeon{
    margin-top: 15px;
}

.acordeon-item {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-bottom: 1px solid black;
}

.active, .acordeon-item:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

/* .barra{
    width: 25%;
    height: 24px;
} */